/* CSS */
body {
	background-color: white;
}
.col-sm-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.mt-4 {
	margin-top: 1.5rem!important;
}

h2 {
	font-size: 2rem;
	margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    display: block;
}
*, ::after, ::before {
    box-sizing: border-box;
}
.text-center {
    text-align: center!important;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    padding-top: 50px;
}
.mb-4 {
	margin-bottom: 1.5rem!important;
}
.col-lg-3 {
	position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-md-6 {
	position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.card {
    height: 100%;
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-img-top {
    width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}

img {
    vertical-align: middle;
    border-style: none;
}
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}
.card-title {
    margin-bottom: .75rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
    margin-top: 0;
}
h4 {
	font-size: 1.5rem;
}
.card-text:last-child {
    margin-bottom: 0;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
.card-footer:last-child {
    border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px);
}
.card-footer {
    padding: .75rem 1.25rem;
    background-color: rgba(0,0,0,.03);
    border-top: 1px solid rgba(0,0,0,.125);
}
#banner {
	text-align: center;
	background-color: #7c7c7c;
	padding: 4px;
	margin-top: 8%;
}
#chat {
	padding-top: 150px;
}
table>thead>tr>th {
	text-align: center;
	font-size: 115%;
	color: white;
}
.carousel {
	position: sticky;
	float: left;
	margin-left: 11%;
	margin-top: 5%;
	margin-bottom: 20px;
	padding: 4px;
	background-color: #fff;
}
/*Menu do Atendente*/
#matendente{
	padding-top: 10%;
}
.thumbnail {
	display: block;
	width: 82%;
	padding: 4px;
	margin-top: 10%;
	margin-bottom: 10%;
	margin-left: 8%;
	background-color: #fff;
	border: 1px solid #ddd;
}
li {
	margin: 10px 0;
}
li a {
	color: #e5d5a7;
}
a:hover {
	color: white;
}
/*chatbot.jsp*/
#chatbot{
	background: rgba(128, 128, 128, 0.38);
	vpadding-top: 1%;
	margin-top: 15%;
}
/*iniciarchatbot.jsp/loginatendente.jsp*/
#iniciarchatbot{
	margin-top: 5%;
	margin-bottom: 18%;
	margin-left: 1%;
}
h3 {
	color: black;
	margin: 8px 20px -6px;
	margin-top:1%;
}
/*Area do funcionario*/
#areadofuncionario{
	background: rgba(128, 128, 128, 0.38);
	margin-top: 5%;
	margin-bottom: 18%;
	margin-left: 20%;
}
/*Menu do Atendente*/
#matendente{
    padding-top: 10%;
}
/*Formatação do footer*/
.bg-4{ 
    background-color: black;
}
.container-fluid {
    text-align: center;
}
p.icons{
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: -5px;
    text-align: center;
    margin-left: 7px;
    color: white;
}
/* Menu Social footer*/
.fa {
    padding: 2%;
    font-size: 250%;
    width: 6%;
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-user{
    background: white;
}
.fa-envelope{
    background: white;
}
/* CHAT */
.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
    margin-left: 60px;
}

.chat li.right .chat-body
{
    margin-right: 60px;
}


.chat li .chat-body p
{
    margin: 0;
    color: #777777;
    margin-left: 10px;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}

.panel-body
{
    overflow-y: scroll;
    
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

/*�rea do funcionario*/
.card-container.card {
    max-width: 350px;
    padding: 40px 40px;
}
.btn {
    font-weight: 700;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

.logo-img-card {
    margin: 0 auto 10px;
    display: block;
}

/*
 * Form styles
 */
.form-signin #inputEmail,
.form-signin #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}
.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}
.btn.btn-signin {
    background-color: rgb(104, 145, 162);
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}
.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
    background-color: rgb(12, 97, 33);
}
.forgot-password {
    color: rgb(104, 145, 162);
}
.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus{
    color: rgb(12, 97, 33);
}